In [23]:
import pandas as pd
import numpy as np
import datetime as dt
import os

import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *#avg, count, expr
from pyspark.sql.types import *

In [10]:
# initialize
sc = pyspark.SparkContext()
spark = SparkSession(sc)
spark.sparkContext.appName = 'joinAppend'
# show the number of cores
print('%d cores'%spark._jsc.sc().getExecutorMemoryStatus().keySet().size())
spark

1 cores

## make / get some fake data

In [12]:
'''herb = (('Elephant', 1, True), ('Sea Turtle', 2, True), ('Caterpillar', 3, True), ('Human', 4, True))
herbivores = spark.createDataFrame(herb, ['Animal', 'Id', 'EatsPlants'])
herbivores.show()

carn = (('Shark', 5, True), ('Sea Turtle', 2, True), ('Tiger', 6, True), ('Human', 4, True))
carnivores = spark.createDataFrame(carn, ['Animal', 'Id', 'EatsMeat'])
carnivores.show()'''

schem = StructType([StructField('Animal', StringType()), StructField('Id', IntegerType()), StructField('EatsPlants', BooleanType())])
herbivores = spark.read.format('csv').options(header=True).schema(schem).load('../data/herbivores.csv')
herbivores.show()

schem = StructType([StructField('Animal', StringType()), StructField('Id', IntegerType()), StructField('EatsMeat', BooleanType())])
carnivores = spark.read.format('csv').options(header=True).schema(schem).load('../data/carnivores.csv')
carnivores.show()

+-----------+---+----------+
|     Animal| Id|EatsPlants|
+-----------+---+----------+
|   Elephant|  1|      true|
| Sea Turtle|  2|      true|
|Caterpillar|  3|      true|
|      Human|  4|      true|
+-----------+---+----------+

+----------+---+--------+
|    Animal| Id|EatsMeat|
+----------+---+--------+
|     Shark|  5|    true|
|Sea Turtle|  2|    true|
|     Tiger|  6|    true|
|     Human|  4|    true|
+----------+---+--------+

In [15]:
# append (union or pd.concat)
eatsall = herbivores.select('Id', 'Animal').union(carnivores.select('Id', 'Animal')).distinct()
eatsall.orderBy('Id').show()

+---+-----------+
| Id|     Animal|
+---+-----------+
|  1|   Elephant|
|  2| Sea Turtle|
|  3|Caterpillar|
|  4|      Human|
|  5|      Shark|
|  6|      Tiger|
+---+-----------+

In [17]:
# inner join
omnivores = herbivores.join(carnivores, how='inner', on=['Id', 'Animal'])
omnivores.show()

+---+----------+----------+--------+
| Id|    Animal|EatsPlants|EatsMeat|
+---+----------+----------+--------+
|  2|Sea Turtle|      true|    true|
|  4|     Human|      true|    true|
+---+----------+----------+--------+

In [19]:
# full outer join
eatsall = herbivores.join(carnivores, how='outer', on=['Id', 'Animal'])
eatsall.orderBy('Id').show()

+---+-----------+----------+--------+
| Id|     Animal|EatsPlants|EatsMeat|
+---+-----------+----------+--------+
|  1|   Elephant|      true|    null|
|  2| Sea Turtle|      true|    true|
|  3|Caterpillar|      true|    null|
|  4|      Human|      true|    true|
|  5|      Shark|      null|    true|
|  6|      Tiger|      null|    true|
+---+-----------+----------+--------+

In [22]:
# just get records in herbivores not in carnivores
herbonly = herbivores.join(carnivores, how='left', on=['Id', 'Animal']).where(isnull('EatsMeat'))
herbonly.show()

+---+-----------+----------+--------+
| Id|     Animal|EatsPlants|EatsMeat|
+---+-----------+----------+--------+
|  1|   Elephant|      true|    null|
|  3|Caterpillar|      true|    null|
+---+-----------+----------+--------+

In [30]:
# load univ of wisconsin madison data into a dict of dataframes
path = '../data/uw-madison-courses/'
uofw = {f.split('.')[0]:spark.read.format('csv').options(header=True, inferSchema=True).load(path+f) for f in os.listdir(path) if f[-4:] == '.csv'}

In [31]:
# show the head of each
for (key, val) in uofw.items():
    print(key)
    val.show(5, truncate=False)

subject_memberships
+------------+------------------------------------+
|subject_code|course_offering_uuid                |
+------------+------------------------------------+
|220         |344b3ebe-da7e-314c-83ed-9425269695fd|
|320         |344b3ebe-da7e-314c-83ed-9425269695fd|
|346         |344b3ebe-da7e-314c-83ed-9425269695fd|
|612         |344b3ebe-da7e-314c-83ed-9425269695fd|
|636         |344b3ebe-da7e-314c-83ed-9425269695fd|
+------------+------------------------------------+
only showing top 5 rows

instructors
+-------+------------------+
|id     |name              |
+-------+------------------+
|761703 |JOHN ARCHAMBAULT  |
|3677061|STEPHANIE KANN    |
|788586 |KATHY PREM        |
|1600463|KRISTIN KLARKOWSKI|
|693634 |DAVID BOHNHOFF    |
+-------+------------------+
only showing top 5 rows

rooms
+------------------------------------+-------------+---------+
|uuid                                |facility_code|room_code|
+------------------------------------+-------------+---------+
|04368a56-c959-3e4b-8b3d-f4cc3538fea5|OFF CAMPUS   |null     |
|2cc50da3-ef0e-3572-a557-ca44930a0688|0032         |0249     |
|ebbf62b4-2ac3-356b-b0fa-7897f4446a17|0032         |B101     |
|ed828265-475b-31b4-b9a8-daec2a600449|0032         |0549     |
|b277dc8e-bab1-3a12-bc17-48d4a364d297|0032         |0349     |
+------------------------------------+-------------+---------+
only showing top 5 rows

schedules
+------------------------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
|uuid                                |start_time|end_time|mon  |tues |wed  |thurs|fri  |sat  |sun  |
+------------------------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
|f2d66a4d-0c08-3b48-abf6-649fffd7ae90|-1        |-1      |false|false|false|false|false|false|false|
|875542a2-f786-34dd-933b-84a8af1aaaba|530       |580     |true |false|true |false|false|false|false|
|f41f1e4d-cb4f-3ded-b4b0-4a7c4da044e5|660       |710     |false|true |false|true |false|false|false|
|46da55a4-17f7-31a1-9492-fddb5af9cf13|800       |850     |false|true |false|true |false|false|false|
|8c7cd81e-4f81-357c-a40b-43f954484804|725       |775     |false|true |false|true |false|false|false|
+------------------------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
only showing top 5 rows

courses
+------------------------------------+---------------------------------------------------------------+------+
|uuid                                |name                                                           |number|
+------------------------------------+---------------------------------------------------------------+------+
|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|Cooperative Education Program                                  |1     |
|c070a84f-648f-351d-9499-5d0e30ad02cc|Cooperative Education/Co-op in Life Sciences Communication     |1     |
|e6b4b7ae-0e0b-3aa5-9d77-7fcd90c9cfa3|Cooperative Education Program                                  |1     |
|8f63bde1-ff7f-3fe7-9901-862908bf134c|Workshop in Dance Activity                                     |1     |
|f3541888-584a-3923-9ce7-6341ff3d84a1|Cooperative Education/Co-op in Agricultural & Applied Economics|1     |
+------------------------------------+---------------------------------------------------------------+------+
only showing top 5 rows

course_offerings
+------------------------------------+------------------------------------+---------+--------------------------+
|uuid                                |course_uuid                         |term_code|name                      |
+------------------------------------+------------------------------------+---------+--------------------------+
|344b3ebe-da7e-314c-83ed-9425269695fd|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|1092     |Cooperative Education Prog|
|f718e6cd-33f0-3c14-a9a6-834d9c3610a8|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|1082     |Cooperative Education Prog|
|ea3b717c-d66b-30dc-8b37-964d9688295f|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|1172     |Cooperative Education Prog|
|075da420-5f49-3dd0-93df-13e3c152e1b1|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|1114     |Cooperative Education Prog|
|2b4e216d-a728-3713-8c7c-19afffc6b2fd|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|1104     |Cooperative Education Prog|
+------------------------------------+------------------------------------+---------+--------------------------+
only showing top 5 rows

grade_distributions
+------------------------------------+--------------+-------+--------+-------+--------+-------+-------+-------+-------+-------+--------+-------+-------+-------+--------+--------+-----------+
|course_offering_uuid                |section_number|a_count|ab_count|b_count|bc_count|c_count|d_count|f_count|s_count|u_count|cr_count|n_count|p_count|i_count|nw_count|nr_count|other_count|
+------------------------------------+--------------+-------+--------+-------+--------+-------+-------+-------+-------+-------+--------+-------+-------+-------+--------+--------+-----------+
|344b3ebe-da7e-314c-83ed-9425269695fd|1             |105    |0       |0      |0       |0      |0      |0      |0      |0      |0       |0      |0      |0      |0       |0       |0          |
|f718e6cd-33f0-3c14-a9a6-834d9c3610a8|1             |158    |0       |0      |0       |0      |0      |0      |0      |0      |0       |0      |0      |1      |0       |0       |0          |
|ea3b717c-d66b-30dc-8b37-964d9688295f|1             |139    |12      |2      |0       |3      |0      |0      |0      |0      |0       |0      |0      |0      |0       |0       |0          |
|075da420-5f49-3dd0-93df-13e3c152e1b1|1             |87     |0       |0      |0       |0      |0      |0      |0      |0      |0       |0      |0      |1      |0       |0       |0          |
|2b4e216d-a728-3713-8c7c-19afffc6b2fd|1             |70     |0       |0      |0       |0      |0      |0      |0      |0      |0       |0      |0      |1      |0       |0       |0          |
+------------------------------------+--------------+-------+--------+-------+--------+-------+-------+-------+-------+-------+--------+-------+-------+-------+--------+--------+-----------+
only showing top 5 rows

teachings
+-------------+------------------------------------+
|instructor_id|section_uuid                        |
+-------------+------------------------------------+
|761703       |45adf63c-48c9-3659-8561-07556d2d4ddf|
|761703       |c6280e23-5e43-3859-893e-540d94993529|
|761703       |9395dc21-15d1-3fab-8d1f-6f3fe6114c48|
|3677061      |b99e440b-39db-350a-81eb-b6eb1bd8b0bc|
|761703       |ca1c841f-41d5-3298-bd25-01c65751f150|
+-------------+------------------------------------+
only showing top 5 rows

sections
+------------------------------------+------------------------------------+------------+------+------------------------------------+------------------------------------+
|uuid                                |course_offering_uuid                |section_type|number|room_uuid                           |schedule_uuid                       |
+------------------------------------+------------------------------------+------------+------+------------------------------------+------------------------------------+
|45adf63c-48c9-3659-8561-07556d2d4ddf|344b3ebe-da7e-314c-83ed-9425269695fd|FLD         |1     |null                                |f2d66a4d-0c08-3b48-abf6-649fffd7ae90|
|c6280e23-5e43-3859-893e-540d94993529|f718e6cd-33f0-3c14-a9a6-834d9c3610a8|FLD         |1     |null                                |f2d66a4d-0c08-3b48-abf6-649fffd7ae90|
|9395dc21-15d1-3fab-8d1f-6f3fe6114c48|ea3b717c-d66b-30dc-8b37-964d9688295f|FLD         |1     |04368a56-c959-3e4b-8b3d-f4cc3538fea5|f2d66a4d-0c08-3b48-abf6-649fffd7ae90|
|b99e440b-39db-350a-81eb-b6eb1bd8b0bc|ea3b717c-d66b-30dc-8b37-964d9688295f|FLD         |1     |null                                |f2d66a4d-0c08-3b48-abf6-649fffd7ae90|
|ca1c841f-41d5-3298-bd25-01c65751f150|ea3b717c-d66b-30dc-8b37-964d9688295f|FLD         |1     |null                                |f2d66a4d-0c08-3b48-abf6-649fffd7ae90|
+------------------------------------+------------------------------------+------------+------+------------------------------------+------------------------------------+
only showing top 5 rows

subjects
+----+------------------------------------+------------+
|code|name                                |abbreviation|
+----+------------------------------------+------------+
|908 |Soil Science                        |SOIL SCI    |
|350 |ENGLISH                             |ENGLISH     |
|351 |English as a Second Language        |ESL         |
|230 |Human Development and Family Studies|HDFS        |
|352 |English                             |ENGL        |
+----+------------------------------------+------------+
only showing top 5 rows

In [54]:
thisID = '344b3ebe-da7e-314c-83ed-9425269695fd' # in case I want to filter
joined = uofw['course_offerings'].withColumnRenamed('uuid', 'course_offering_uuid').withColumnRenamed('name', 'course_name')\
    .join(uofw['sections'].withColumnRenamed('uuid', 'section_uuid'), how='inner', on='course_offering_uuid')\
    .join(uofw['teachings'].withColumnRenamed('uuid', 'teaching_uuid'), how='inner', on='section_uuid')\
    .join(uofw['instructors'].withColumnRenamed('id', 'instructor_id').withColumnRenamed('name', 'instructor_name'),
          how='inner', on='instructor_id')\
    .join(uofw['schedules'].withColumn('days', array('mon', 'tues', 'wed', 'thurs', 'fri'))\
          .withColumnRenamed('uuid', 'schedule_uuid').select('schedule_uuid', 'days', 'start_time', 'end_time'),
          how='inner', on='schedule_uuid')

display(joined.select('course_name', 'instructor_name', 'days', 'start_time', 'end_time', 'section_type', 'number', ).limit(4).toPandas())

,course_name,instructor_name,days,start_time,end_time,section_type,number
0,Master's Research or Thesis,THOMAS JAHNS,"[False, False, False, False, False]",-1,-1,IND,45
1,Wrkshp-Industrl Organizatn,JEAN-FRANCOIS HOUDE,"[False, False, True, False, False]",945,1050,LEC,1
2,Workshop - Public Economics,CHRISTOPHER R TABER,"[False, True, False, False, False]",945,1050,LEC,1
3,Plant Cell Biology,MARISA S OTEGUI,"[False, True, False, True, False]",595,645,LEC,1

In [55]:
sc.stop()