In [1]:
import pandas as pd
import numpy as np
import datetime as dt

import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *#avg, count, expr
from pyspark.sql.types import *
from pyspark.ml.feature import VectorAssembler, OneHotEncoder, MinMaxScaler, StringIndexer
from pyspark.ml.regression import *
from pyspark.ml.evaluation import *
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder
from pyspark.ml.stat import Correlation
from pyspark.ml import Pipeline

In [2]:
# initialize
sc = pyspark.SparkContext()
spark = SparkSession(sc)
spark.sparkContext.appName = 'regression'
# show the number of cores
print('%d cores'%spark._jsc.sc().getExecutorMemoryStatus().keySet().size())
spark

1 cores

In [3]:
''' get the data '''
# load the data
fil = '../data/housing.csv'
schem = StructType([StructField('longitude', FloatType()), StructField('latitude', FloatType()),
                    StructField('housing_median_age', FloatType()), StructField('total_rooms', FloatType()),
                    StructField('total_bedrooms', FloatType()), StructField('population', FloatType()),
                    StructField('households', FloatType()), StructField('median_income', FloatType()),
                    StructField('median_house_value', FloatType()), StructField('ocean_proximity', StringType())])
house = spark.read.format('csv').options(header=True).schema(schem).load(fil)

# add an ID - don't actually care if it's monotonic
house = house.select(monotonically_increasing_id().alias('id'), '*')

# talk
cnt = house.count()
print('%d records'%cnt)
house.show(truncate=False)

20640 records
+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|id |longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|
+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
|0  |-122.23  |37.88   |41.0              |880.0      |129.0         |322.0     |126.0     |8.3252       |452600.0          |NEAR BAY       |
|1  |-122.22  |37.86   |21.0              |7099.0     |1106.0        |2401.0    |1138.0    |8.3014       |358500.0          |NEAR BAY       |
|2  |-122.24  |37.85   |52.0              |1467.0     |190.0         |496.0     |177.0     |7.2574       |352100.0          |NEAR BAY       |
|3  |-122.25  |37.85   |52.0              |1274.0     |235.0         |558.0     |219.0     |5.6431       |341300.0          |NEAR BAY       |
|4  |-122.25  |37.85   |52.0              |1627.0     |280.0         |565.0     |259.0     |3.8462       |342200.0          |NEAR BAY       |
|5  |-122.25  |37.85   |52.0              |919.0      |213.0         |413.0     |193.0     |4.0368       |269700.0          |NEAR BAY       |
|6  |-122.25  |37.84   |52.0              |2535.0     |489.0         |1094.0    |514.0     |3.6591       |299200.0          |NEAR BAY       |
|7  |-122.25  |37.84   |52.0              |3104.0     |687.0         |1157.0    |647.0     |3.12         |241400.0          |NEAR BAY       |
|8  |-122.26  |37.84   |42.0              |2555.0     |665.0         |1206.0    |595.0     |2.0804       |226700.0          |NEAR BAY       |
|9  |-122.25  |37.84   |52.0              |3549.0     |707.0         |1551.0    |714.0     |3.6912       |261100.0          |NEAR BAY       |
|10 |-122.26  |37.85   |52.0              |2202.0     |434.0         |910.0     |402.0     |3.2031       |281500.0          |NEAR BAY       |
|11 |-122.26  |37.85   |52.0              |3503.0     |752.0         |1504.0    |734.0     |3.2705       |241800.0          |NEAR BAY       |
|12 |-122.26  |37.85   |52.0              |2491.0     |474.0         |1098.0    |468.0     |3.075        |213500.0          |NEAR BAY       |
|13 |-122.26  |37.84   |52.0              |696.0      |191.0         |345.0     |174.0     |2.6736       |191300.0          |NEAR BAY       |
|14 |-122.26  |37.85   |52.0              |2643.0     |626.0         |1212.0    |620.0     |1.9167       |159200.0          |NEAR BAY       |
|15 |-122.26  |37.85   |50.0              |1120.0     |283.0         |697.0     |264.0     |2.125        |140000.0          |NEAR BAY       |
|16 |-122.27  |37.85   |52.0              |1966.0     |347.0         |793.0     |331.0     |2.775        |152500.0          |NEAR BAY       |
|17 |-122.27  |37.85   |52.0              |1228.0     |293.0         |648.0     |303.0     |2.1202       |155500.0          |NEAR BAY       |
|18 |-122.26  |37.84   |50.0              |2239.0     |455.0         |990.0     |419.0     |1.9911       |158700.0          |NEAR BAY       |
|19 |-122.27  |37.84   |52.0              |1503.0     |298.0         |690.0     |275.0     |2.6033       |162900.0          |NEAR BAY       |
+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+
only showing top 20 rows

### Data Prep

In [4]:
''' handle missing values '''
# check for missing values
nullCounts = {colm:house.select(colm).where(col(colm).isNull()).count() for colm in house.columns}
nullCounts = {colm:(ncnt, ncnt/cnt) for (colm, ncnt) in nullCounts.items()}
nullCountsDF = pd.DataFrame(nullCounts).T.reset_index(drop=False).sort_values(1, ascending=False)
nullCountsDF.columns = ['Column', 'Freq.', 'Rel. Freq.']
nullCountsDF = nullCountsDF.merge(pd.DataFrame([[colm.name, colm.dataType] for colm in house.schema], columns=['Column', 'Type']),
                                how='inner', on=['Column'])

# talk
display(nullCountsDF)

# remove
house = house.dropna(how='any')

# talk some more
print('%d records'%house.count())

                Column  Freq.  Rel. Freq.        Type
0       total_bedrooms  207.0    0.010029   FloatType
1                   id    0.0    0.000000    LongType
2            longitude    0.0    0.000000   FloatType
3             latitude    0.0    0.000000   FloatType
4   housing_median_age    0.0    0.000000   FloatType
5          total_rooms    0.0    0.000000   FloatType
6           population    0.0    0.000000   FloatType
7           households    0.0    0.000000   FloatType
8        median_income    0.0    0.000000   FloatType
9   median_house_value    0.0    0.000000   FloatType
10     ocean_proximity    0.0    0.000000  StringType

20433 records

In [5]:
''' OHE the ocean_proximity var '''
# first review the distribution
tab = house.groupBy('ocean_proximity').count().toPandas().sort_values(by='ocean_proximity')
display(tab)

# first need to string index ...
indx = StringIndexer(inputCol='ocean_proximity', outputCol='oceanProx_int', stringOrderType='alphabetAsc')
house = indx.fit(house).transform(house)

# ... then we can encode
ohe = OneHotEncoder(inputCol='oceanProx_int', outputCol='oceanProx')
house = ohe.fit(house).transform(house).drop('oceanProx_int')

# make the OHE columns - last is excluded; when all are 0, it's the last
featOHE = ['oceanProx_%s'%c for c in tab.ocean_proximity.values[:-1]]
print(featOHE)

# talk
house.show(truncate=False)

  ocean_proximity  count
3       <1H OCEAN   9034
4          INLAND   6496
0          ISLAND      5
2        NEAR BAY   2270
1      NEAR OCEAN   2628

['oceanProx_<1H OCEAN', 'oceanProx_INLAND', 'oceanProx_ISLAND', 'oceanProx_NEAR BAY']
+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+-------------+
|id |longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|ocean_proximity|oceanProx    |
+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+-------------+
|0  |-122.23  |37.88   |41.0              |880.0      |129.0         |322.0     |126.0     |8.3252       |452600.0          |NEAR BAY       |(4,[3],[1.0])|
|1  |-122.22  |37.86   |21.0              |7099.0     |1106.0        |2401.0    |1138.0    |8.3014       |358500.0          |NEAR BAY       |(4,[3],[1.0])|
|2  |-122.24  |37.85   |52.0              |1467.0     |190.0         |496.0     |177.0     |7.2574       |352100.0          |NEAR BAY       |(4,[3],[1.0])|
|3  |-122.25  |37.85   |52.0              |1274.0     |235.0         |558.0     |219.0     |5.6431       |341300.0          |NEAR BAY       |(4,[3],[1.0])|
|4  |-122.25  |37.85   |52.0              |1627.0     |280.0         |565.0     |259.0     |3.8462       |342200.0          |NEAR BAY       |(4,[3],[1.0])|
|5  |-122.25  |37.85   |52.0              |919.0      |213.0         |413.0     |193.0     |4.0368       |269700.0          |NEAR BAY       |(4,[3],[1.0])|
|6  |-122.25  |37.84   |52.0              |2535.0     |489.0         |1094.0    |514.0     |3.6591       |299200.0          |NEAR BAY       |(4,[3],[1.0])|
|7  |-122.25  |37.84   |52.0              |3104.0     |687.0         |1157.0    |647.0     |3.12         |241400.0          |NEAR BAY       |(4,[3],[1.0])|
|8  |-122.26  |37.84   |42.0              |2555.0     |665.0         |1206.0    |595.0     |2.0804       |226700.0          |NEAR BAY       |(4,[3],[1.0])|
|9  |-122.25  |37.84   |52.0              |3549.0     |707.0         |1551.0    |714.0     |3.6912       |261100.0          |NEAR BAY       |(4,[3],[1.0])|
|10 |-122.26  |37.85   |52.0              |2202.0     |434.0         |910.0     |402.0     |3.2031       |281500.0          |NEAR BAY       |(4,[3],[1.0])|
|11 |-122.26  |37.85   |52.0              |3503.0     |752.0         |1504.0    |734.0     |3.2705       |241800.0          |NEAR BAY       |(4,[3],[1.0])|
|12 |-122.26  |37.85   |52.0              |2491.0     |474.0         |1098.0    |468.0     |3.075        |213500.0          |NEAR BAY       |(4,[3],[1.0])|
|13 |-122.26  |37.84   |52.0              |696.0      |191.0         |345.0     |174.0     |2.6736       |191300.0          |NEAR BAY       |(4,[3],[1.0])|
|14 |-122.26  |37.85   |52.0              |2643.0     |626.0         |1212.0    |620.0     |1.9167       |159200.0          |NEAR BAY       |(4,[3],[1.0])|
|15 |-122.26  |37.85   |50.0              |1120.0     |283.0         |697.0     |264.0     |2.125        |140000.0          |NEAR BAY       |(4,[3],[1.0])|
|16 |-122.27  |37.85   |52.0              |1966.0     |347.0         |793.0     |331.0     |2.775        |152500.0          |NEAR BAY       |(4,[3],[1.0])|
|17 |-122.27  |37.85   |52.0              |1228.0     |293.0         |648.0     |303.0     |2.1202       |155500.0          |NEAR BAY       |(4,[3],[1.0])|
|18 |-122.26  |37.84   |50.0              |2239.0     |455.0         |990.0     |419.0     |1.9911       |158700.0          |NEAR BAY       |(4,[3],[1.0])|
|19 |-122.27  |37.84   |52.0              |1503.0     |298.0         |690.0     |275.0     |2.6033       |162900.0          |NEAR BAY       |(4,[3],[1.0])|
+---+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+---------------+-------------+
only showing top 20 rows

In [6]:
# prepare the response
house = house.withColumnRenamed('median_house_value', 'label')

In [7]:
''' prepare the features '''
# get the features
features = [c for c in house.columns if c not in (['ocean_proximity', 'label', 'id'])]

# create & scale the features vector
assr = VectorAssembler(inputCols=features, outputCol='features_raw')
scalr = MinMaxScaler(inputCol='features_raw', outputCol='features')
pipe = Pipeline(stages=[assr, scalr]).fit(house)
house = pipe.transform(house).drop('features_raw')

# now update the features list with the ocean proximity OHE columns; this assumes
# oceanProx was the last column, which should be true
features = features[:-1] + featOHE
print(features)

# talk
display(house.limit(10).toPandas())
house.select('id', 'features', 'label').show(truncate=False)
house.select('features').take(1)
print('First row features = %s'%house.select('features').take(1)[0])

['longitude', 'latitude', 'housing_median_age', 'total_rooms', 'total_bedrooms', 'population', 'households', 'median_income', 'oceanProx_<1H OCEAN', 'oceanProx_INLAND', 'oceanProx_ISLAND', 'oceanProx_NEAR BAY']

,id,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,label,ocean_proximity,oceanProx,features
0,0,-122.230003,37.880001,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,"(0.0, 0.0, 0.0, 1.0)","[0.21115487289536256, 0.5674814281805192, 0.78..."
1,1,-122.220001,37.860001,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,"(0.0, 0.0, 0.0, 1.0)","[0.2121511015127325, 0.5653559809873215, 0.392..."
2,2,-122.239998,37.849998,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,"(0.0, 0.0, 0.0, 1.0)","[0.21015940417777704, 0.5642930546969221, 1.0,..."
3,3,-122.250000,37.849998,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,"(0.0, 0.0, 0.0, 1.0)","[0.2091631755604071, 0.5642930546969221, 1.0, ..."
4,4,-122.250000,37.849998,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,"(0.0, 0.0, 0.0, 1.0)","[0.2091631755604071, 0.5642930546969221, 1.0, ..."
5,5,-122.250000,37.849998,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY,"(0.0, 0.0, 0.0, 1.0)","[0.2091631755604071, 0.5642930546969221, 1.0, ..."
6,6,-122.250000,37.840000,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY,"(0.0, 0.0, 0.0, 1.0)","[0.2091631755604071, 0.5632305337941239, 1.0, ..."
7,7,-122.250000,37.840000,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY,"(0.0, 0.0, 0.0, 1.0)","[0.2091631755604071, 0.5632305337941239, 1.0, ..."
8,8,-122.260002,37.840000,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY,"(0.0, 0.0, 0.0, 1.0)","[0.20816694694303714, 0.5632305337941239, 0.80..."
9,9,-122.250000,37.840000,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY,"(0.0, 0.0, 0.0, 1.0)","[0.2091631755604071, 0.5632305337941239, 1.0, ..."

+---+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------+
|id |features                                                                                                                                                                         |label   |
+---+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------+
|0  |[0.21115487289536256,0.5674814281805192,0.7843137254901961,0.022330739101683705,0.019863438857852266,0.008940833543541018,0.020555829633284,0.5396684184702716,0.0,0.0,0.0,1.0]  |452600.0|
|1  |[0.2121511015127325,0.5653559809873215,0.39215686274509803,0.180502568798006,0.17147734326505276,0.06721040387903249,0.18697582634435125,0.5380270689689535,0.0,0.0,0.0,1.0]     |358500.0|
|2  |[0.21015940417777704,0.5642930546969221,1.0,0.03726028790884582,0.029329608938547486,0.013817651840017937,0.028942608123663872,0.4660280524073553,0.0,0.0,0.0,1.0]               |352100.0|
|3  |[0.2091631755604071,0.5642930546969221,1.0,0.03235159468945521,0.03631284916201117,0.015555368704279827,0.0358493668804473,0.3546985371345552,0.0,0.0,0.0,1.0]                   |341300.0|
|4  |[0.2091631755604071,0.5642930546969221,1.0,0.041329670888651505,0.04329608938547486,0.015751562543793268,0.04242723236309818,0.23077612362715672,0.0,0.0,0.0,1.0]                |342200.0|
|5  |[0.2091631755604071,0.5642930546969221,1.0,0.023322651203011344,0.032898820608317815,0.011491353457215728,0.031573754316724226,0.24392076416687433,0.0,0.0,0.0,1.0]              |269700.0|
|6  |[0.2091631755604071,0.5632305337941239,1.0,0.06442341929904878,0.07572936064556177,0.030578211272737462,0.08436112481499754,0.21787285801410353,0.0,0.0,0.0,1.0]                 |299200.0|
|7  |[0.2091631755604071,0.5632305337941239,1.0,0.07889516252098275,0.10645561762880199,0.03234395582835842,0.10623252754481172,0.18069404906129127,0.0,0.0,0.0,1.0]                  |241400.0|
|8  |[0.20816694694303714,0.5632305337941239,0.803921568627451,0.06493209217152449,0.10304158907510863,0.03371731270495249,0.09768130241736557,0.10899849405599547,0.0,0.0,0.0,1.0]   |226700.0|
|9  |[0.2091631755604071,0.5632305337941239,1.0,0.09021313393356732,0.1095592799503414,0.04338686622382914,0.11725045222825194,0.2200866179596975,0.0,0.0,0.0,1.0]                    |261100.0|
|10 |[0.20816694694303714,0.5642930546969221,1.0,0.05595401597232819,0.06719428926132837,0.02542111606266992,0.06594310146357507,0.18642500999890083,0.0,0.0,0.0,1.0]                 |281500.0|
|11 |[0.20816694694303714,0.5642930546969221,1.0,0.08904318632687319,0.11654252017380509,0.04206956472995319,0.12053938496957738,0.19107322023516302,0.0,0.0,0.0,1.0]                 |241800.0|
|12 |[0.20816694694303714,0.5642930546969221,1.0,0.06330433897960222,0.0734016139044072,0.030690322038173713,0.07679657950994902,0.17759065479811517,0.0,0.0,0.0,1.0]                 |213500.0|
|13 |[0.20816694694303714,0.5632305337941239,1.0,0.017650948674907168,0.029484792054624457,0.009585470444799462,0.028449268212465056,0.14990827208131136,0.0,0.0,0.0,1.0]             |191300.0|
|14 |[0.20816694694303714,0.5642930546969221,1.0,0.06717025281041762,0.09698944754810676,0.033885478853106867,0.10179246834402236,0.09770899576173457,0.0,0.0,0.0,1.0]                |159200.0|
|15 |[0.20816694694303714,0.5642930546969221,0.9607843137254902,0.028434813571392235,0.043761638733705775,0.01945121780318955,0.04324946554842954,0.11207431435786257,0.0,0.0,0.0,1.0]|140000.0|
|16 |[0.20717147822545162,0.5642930546969221,1.0,0.04995167607711481,0.053693358162631905,0.022141876173659574,0.05426739023186976,0.15690128845972848,0.0,0.0,0.0,1.0]               |152500.0|
|17 |[0.20717147822545162,0.5642930546969221,1.0,0.031181647082761076,0.04531346989447548,0.018077860926595475,0.049662884394014145,0.11174327884025119,0.0,0.0,0.0,1.0]              |155500.0|
|18 |[0.20816694694303714,0.5632305337941239,0.9607843137254902,0.05689506078640826,0.07045313469894475,0.02766333137139494,0.06873869429370169,0.10283995585132562,0.0,0.0,0.0,1.0]  |158700.0|
|19 |[0.20717147822545162,0.5632305337941239,1.0,0.0381758990793021,0.046089385474860335,0.01925502396367611,0.045058378556158525,0.1450600725239988,0.0,0.0,0.0,1.0]                 |162900.0|
+---+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+--------+
only showing top 20 rows

First row features = [0.21115487289536256,0.5674814281805192,0.7843137254901961,0.022330739101683705,0.019863438857852266,0.008940833543541018,0.020555829633284,0.5396684184702716,0.0,0.0,0.0,1.0]

In [8]:
# check for multicollinearity
# high: total_bedrooms vs. households, population vs. households, 
corr = Correlation.corr(house, column='features', method='pearson')
corrdf = pd.DataFrame(index=features, data=corr.collect()[0][0].toArray(), columns=features)
display(corrdf)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,oceanProx_<1H OCEAN,oceanProx_INLAND,oceanProx_ISLAND,oceanProx_NEAR BAY
longitude,1.000000,-0.924616,-0.109357,0.045480,0.069608,0.100270,0.056513,-0.015550,0.320831,-0.055337,0.009501,-0.474714
latitude,-0.924616,1.000000,0.011899,-0.036667,-0.066983,-0.108997,-0.071774,-0.079626,-0.446928,0.351084,-0.016662,0.358785
housing_median_age,-0.109357,0.011899,1.000000,-0.360628,-0.320451,-0.295787,-0.302768,-0.118278,0.045553,-0.236968,0.017105,0.256149
total_rooms,0.045480,-0.036667,-0.360628,1.000000,0.930380,0.857281,0.918992,0.197882,-0.003777,0.026477,-0.007603,-0.023647
total_bedrooms,0.069608,-0.066983,-0.320451,0.930380,1.000000,0.877747,0.979728,-0.007723,0.018314,-0.006463,-0.004361,-0.019873
population,0.100270,-0.108997,-0.295787,0.857281,0.877747,1.000000,0.907186,0.005087,0.073450,-0.019602,-0.010451,-0.061480
households,0.056513,-0.071774,-0.302768,0.918992,0.979728,0.907186,1.000000,0.013434,0.041883,-0.038265,-0.009119,-0.011280
median_income,-0.015550,-0.079626,-0.118278,0.197882,-0.007723,0.005087,0.013434,1.000000,0.168715,-0.237536,-0.009281,0.056677
oceanProx_<1H OCEAN,0.320831,-0.446928,0.045553,-0.003777,0.018314,0.073450,0.041883,0.168715,1.000000,-0.607778,-0.013928,-0.314721
oceanProx_INLAND,-0.055337,0.351084,-0.236968,0.026477,-0.006463,-0.019602,-0.038265,-0.237536,-0.607778,1.000000,-0.010681,-0.241356
oceanProx_ISLAND,0.009501,-0.016662,0.017105,-0.007603,-0.004361,-0.010451,-0.009119,-0.009281,-0.013928,-0.010681,1.000000,-0.005531
oceanProx_NEAR BAY,-0.474714,0.358785,0.256149,-0.023647,-0.019873,-0.061480,-0.011280,0.056677,-0.314721,-0.241356,-0.005531,1.000000

## Modeling

In [9]:
# split for cross-val
trainPerc = 0.7
randSeed = 42
tran, test = house.select('id', 'label', 'features').randomSplit([trainPerc, 1.0 - trainPerc], seed=randSeed)

# talk
print('Training Cases')
tran.select('id').show()
print('Testing Cases')
test.select('id').show()

Training Cases
+---+
| id|
+---+
|  0|
|  1|
|  3|
|  4|
|  5|
|  7|
| 10|
| 11|
| 12|
| 16|
| 17|
| 18|
| 20|
| 22|
| 25|
| 26|
| 27|
| 31|
| 33|
| 36|
+---+
only showing top 20 rows

Testing Cases
+---+
| id|
+---+
|  2|
|  6|
|  8|
|  9|
| 13|
| 14|
| 15|
| 19|
| 21|
| 23|
| 24|
| 28|
| 29|
| 30|
| 32|
| 34|
| 35|
| 39|
| 42|
| 43|
+---+
only showing top 20 rows

In [13]:
''' set up the estimators & param grids '''
models = {}

'''# linear regression
linreg = LinearRegression()
params = (ParamGridBuilder().addGrid(linreg.elasticNetParam, [0.0, 0.25, 0.5, 0.75, 1.0]).build())
paramNames = ['elasticnetparam']
models['linear regression'] = [linreg, params, paramNames, None, None]

# random forest
ranfor = RandomForestRegressor(numTrees=20)
params = (ParamGridBuilder().addGrid(ranfor.maxBins, [20, 40, 80, 100])\
              .addGrid(ranfor.maxDepth, [5, 10, 30]).build())
paramNames = ['maxbins', 'maxdepth']
models['random forest'] = [ranfor, params, paramNames, None, None]'''

# gradient boosting trees
gradbst = GBTRegressor(maxIter=20)
params = (ParamGridBuilder().addGrid(gradbst.maxBins, [20, 40, 80, 100])\
              .addGrid(gradbst.maxDepth, [5, 10, 30]).build())
paramNames = ['maxbins', 'maxdepth']
models['gradient boost'] = [gradbst, params, paramNames, None, None]

In [14]:
''' run the models '''
# number of cv folds
folds = 5
# define the evaulation function
evl = RegressionEvaluator(metricName='rmse')

# iterate over models
for (model, stuff) in models.items():
    print('Cross Validator: %s'%model)
    # execute
    cv = CrossValidator(estimator=stuff[0], estimatorParamMaps=stuff[1], evaluator=evl, numFolds=folds)
    fitModel = cv.fit(house.select('features', 'label'))
    # get the best
    bestModel = fitModel.bestModel
    # evaluate performance on the test set
    testRMSE = evl.evaluate(bestModel.transform(test.select('features', 'label')))
    print('\tBest Model Test RMSE = %0.3f'%testRMSE)    
    # get best parameters
    bestParams = bestModel.extractParamMap()
    for (key, val) in bestParams.items():
        for parm in stuff[2]:
            if parm in key.name.lower():
                print('\t%s = %0.2f'%(key, val))
                break
    # save stuff
    models[model][3] = fitModel
    models[model][4] = testRMSE

Cross Validator: gradient boost

Exception ignored in: <function JavaWrapper.__del__ at 0x7f43b31e00d0>
Traceback (most recent call last):
  File "/home/ahowe42/spark-3.1.1-bin-hadoop2.7/python/pyspark/ml/wrapper.py", line 39, in __del__
    if SparkContext._active_spark_context and self._java_obj is not None:
AttributeError: 'GBTRegressor' object has no attribute '_java_obj'

	Best Model Test RMSE = 52606.504
	GBTRegressor_ecf8280cd689__maxBins = 80.00
	GBTRegressor_ecf8280cd689__maxDepth = 5.00

In [31]:
# look at linear regression coefficients
bm = models['linear regression'][3].bestModel
summ = bm.summary
summ.predictions.describe().withColumn('Diff', col('prediction') - col('label')).show(truncate=False)
print('Best Model RMSE = %0.3f'%summ.rootMeanSquaredError)

# get a nice model coefficients table
coefs = pd.concat([pd.DataFrame(index=['Intercept'], data=[bm.intercept], columns=['Coefficient']),
                   pd.DataFrame(index=features, data=bm.coefficients.toArray(), columns=['Coefficient'])])
coefs['Std. Error'] = bm.summary.coefficientStandardErrors
coefs['pValue'] = bm.summary.pValues
# make an absolute coef column temporarily for sorting
coefs['tmp'] = coefs['Coefficient'].abs() a
coefs.loc['Intercept', 'tmp'] = np.inf
coefs = coefs.sort_values(by='tmp', ascending=False).drop(columns='tmp')

# talk
display(coefs)

+-------+------------------+------------------+----------------------+
|summary|label             |prediction        |Diff                  |
+-------+------------------+------------------+----------------------+
|count  |20433             |20433             |0.0                   |
|mean   |206864.41315519012|206864.41315518811|-2.0081643015146255E-9|
|stddev |115435.66709858322|92813.7103944438  |-22621.95670413942    |
|min    |14999.0           |-644652.2567202692|-659651.2567202692    |
|max    |500001.0          |691986.8212334897 |191985.82123348967    |
+-------+------------------+------------------+----------------------+

Best Model RMSE = 68635.106

                      Coefficient    Std. Error        pValue
Intercept            2.600512e+05  10237.292715  0.000000e+00
population          -1.354699e+06  45311.420373  2.829537e-11
total_bedrooms       6.479847e+05  38395.877301  0.000000e+00
median_income        5.692717e+05   1569.525384  6.421018e-03
households           3.017229e+05   4901.136491  0.000000e+00
longitude           -2.692025e+05   9454.244133  0.000000e+00
total_rooms         -2.435067e+05  44260.659646  0.000000e+00
latitude            -2.397874e+05   2238.171037  0.000000e+00
oceanProx_ISLAND     1.486238e+05   2175.788135  1.550527e-04
housing_median_age   5.469852e+04  31118.993572  5.329071e-15
oceanProx_INLAND    -4.356243e+04  30753.723377  1.356659e-06
oceanProx_NEAR BAY  -8.232189e+03   7994.361202  0.000000e+00
oceanProx_<1H OCEAN -4.278134e+03   2249.744790  0.000000e+00

In [32]:
# view feature importances for random forest
imports = models['random forest'][3].bestModel.featureImportances.toArray()
imports = pd.DataFrame(index=features, data=imports, columns=['Importance']).sort_values(by='Importance', ascending=False, inplace=False)
display(imports)

                     Importance
median_income          0.372008
oceanProx_INLAND       0.166583
longitude              0.118120
latitude               0.107858
population             0.052327
housing_median_age     0.051503
total_rooms            0.040377
total_bedrooms         0.037620
households             0.032892
oceanProx_<1H OCEAN    0.013373
oceanProx_NEAR BAY     0.006994
oceanProx_ISLAND       0.000346

In [15]:
# view feature importances for gradient boost
imports = models['gradient boost'][3].bestModel.featureImportances.toArray()
imports = pd.DataFrame(index=features, data=imports, columns=['Importance']).sort_values(by='Importance', ascending=False, inplace=False)
display(imports)

                     Importance
median_income          0.265431
longitude              0.176374
latitude               0.163965
population             0.089573
total_bedrooms         0.081516
housing_median_age     0.077146
oceanProx_INLAND       0.068559
oceanProx_NEAR BAY     0.034540
total_rooms            0.022317
oceanProx_<1H OCEAN    0.012465
households             0.008114
oceanProx_ISLAND       0.000000

In [ ]:
sc.stop()