# Joining and Appending DataFrames in PySpark HW

Now it's time to test your knowledge and further engrain the concepts we touched on in the lectures. Let's go ahead and get started.




**As always let's start our Spark instance.**

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import os

import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *#avg, count, expr
from pyspark.sql.types import *

In [4]:
# initialize
sc = pyspark.SparkContext()
spark = SparkSession(sc)
spark.sparkContext.appName = 'joinAppend'
# show the number of cores
print('%d cores'%spark._jsc.sc().getExecutorMemoryStatus().keySet().size())
spark

1 cores

## Read in the database

Let cotinue working with our college courses dataframe to get some more insights and practice what we have learned!Let's read in the whole database using the loop function that we learned about in the lecture to automatically read in all the datasets from the uw-madision-courses folder (there are too many datasets to each one individually.

In [5]:
# load univ of wisconsin madison data into a dict of dataframes
path = '../../data/uw-madison-courses/'
uofw = {f.split('.')[0]:spark.read.format('csv').options(header=True, inferSchema=True).load(path+f) for f in os.listdir(path) if f[-4:] == '.csv'}

Now check the contents of a few of the dataframses that were read in above.

In [6]:
# show the head of each
for (key, val) in uofw.items():
    print(key)
    val.show(5, truncate=False)

subject_memberships
+------------+------------------------------------+
|subject_code|course_offering_uuid                |
+------------+------------------------------------+
|220         |344b3ebe-da7e-314c-83ed-9425269695fd|
|320         |344b3ebe-da7e-314c-83ed-9425269695fd|
|346         |344b3ebe-da7e-314c-83ed-9425269695fd|
|612         |344b3ebe-da7e-314c-83ed-9425269695fd|
|636         |344b3ebe-da7e-314c-83ed-9425269695fd|
+------------+------------------------------------+
only showing top 5 rows

instructors
+-------+------------------+
|id     |name              |
+-------+------------------+
|761703 |JOHN ARCHAMBAULT  |
|3677061|STEPHANIE KANN    |
|788586 |KATHY PREM        |
|1600463|KRISTIN KLARKOWSKI|
|693634 |DAVID BOHNHOFF    |
+-------+------------------+
only showing top 5 rows

rooms
+------------------------------------+-------------+---------+
|uuid                                |facility_code|room_code|
+------------------------------------+-------------+---------+
|04368a56-c959-3e4b-8b3d-f4cc3538fea5|OFF CAMPUS   |null     |
|2cc50da3-ef0e-3572-a557-ca44930a0688|0032         |0249     |
|ebbf62b4-2ac3-356b-b0fa-7897f4446a17|0032         |B101     |
|ed828265-475b-31b4-b9a8-daec2a600449|0032         |0549     |
|b277dc8e-bab1-3a12-bc17-48d4a364d297|0032         |0349     |
+------------------------------------+-------------+---------+
only showing top 5 rows

schedules
+------------------------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
|uuid                                |start_time|end_time|mon  |tues |wed  |thurs|fri  |sat  |sun  |
+------------------------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
|f2d66a4d-0c08-3b48-abf6-649fffd7ae90|-1        |-1      |false|false|false|false|false|false|false|
|875542a2-f786-34dd-933b-84a8af1aaaba|530       |580     |true |false|true |false|false|false|false|
|f41f1e4d-cb4f-3ded-b4b0-4a7c4da044e5|660       |710     |false|true |false|true |false|false|false|
|46da55a4-17f7-31a1-9492-fddb5af9cf13|800       |850     |false|true |false|true |false|false|false|
|8c7cd81e-4f81-357c-a40b-43f954484804|725       |775     |false|true |false|true |false|false|false|
+------------------------------------+----------+--------+-----+-----+-----+-----+-----+-----+-----+
only showing top 5 rows

courses
+------------------------------------+---------------------------------------------------------------+------+
|uuid                                |name                                                           |number|
+------------------------------------+---------------------------------------------------------------+------+
|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|Cooperative Education Program                                  |1     |
|c070a84f-648f-351d-9499-5d0e30ad02cc|Cooperative Education/Co-op in Life Sciences Communication     |1     |
|e6b4b7ae-0e0b-3aa5-9d77-7fcd90c9cfa3|Cooperative Education Program                                  |1     |
|8f63bde1-ff7f-3fe7-9901-862908bf134c|Workshop in Dance Activity                                     |1     |
|f3541888-584a-3923-9ce7-6341ff3d84a1|Cooperative Education/Co-op in Agricultural & Applied Economics|1     |
+------------------------------------+---------------------------------------------------------------+------+
only showing top 5 rows

course_offerings
+------------------------------------+------------------------------------+---------+--------------------------+
|uuid                                |course_uuid                         |term_code|name                      |
+------------------------------------+------------------------------------+---------+--------------------------+
|344b3ebe-da7e-314c-83ed-9425269695fd|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|1092     |Cooperative Education Prog|
|f718e6cd-33f0-3c14-a9a6-834d9c3610a8|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|1082     |Cooperative Education Prog|
|ea3b717c-d66b-30dc-8b37-964d9688295f|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|1172     |Cooperative Education Prog|
|075da420-5f49-3dd0-93df-13e3c152e1b1|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|1114     |Cooperative Education Prog|
|2b4e216d-a728-3713-8c7c-19afffc6b2fd|a3e3e1c3-543d-3bb5-ae65-5f2aec4ad1de|1104     |Cooperative Education Prog|
+------------------------------------+------------------------------------+---------+--------------------------+
only showing top 5 rows

grade_distributions
+------------------------------------+--------------+-------+--------+-------+--------+-------+-------+-------+-------+-------+--------+-------+-------+-------+--------+--------+-----------+
|course_offering_uuid                |section_number|a_count|ab_count|b_count|bc_count|c_count|d_count|f_count|s_count|u_count|cr_count|n_count|p_count|i_count|nw_count|nr_count|other_count|
+------------------------------------+--------------+-------+--------+-------+--------+-------+-------+-------+-------+-------+--------+-------+-------+-------+--------+--------+-----------+
|344b3ebe-da7e-314c-83ed-9425269695fd|1             |105    |0       |0      |0       |0      |0      |0      |0      |0      |0       |0      |0      |0      |0       |0       |0          |
|f718e6cd-33f0-3c14-a9a6-834d9c3610a8|1             |158    |0       |0      |0       |0      |0      |0      |0      |0      |0       |0      |0      |1      |0       |0       |0          |
|ea3b717c-d66b-30dc-8b37-964d9688295f|1             |139    |12      |2      |0       |3      |0      |0      |0      |0      |0       |0      |0      |0      |0       |0       |0          |
|075da420-5f49-3dd0-93df-13e3c152e1b1|1             |87     |0       |0      |0       |0      |0      |0      |0      |0      |0       |0      |0      |1      |0       |0       |0          |
|2b4e216d-a728-3713-8c7c-19afffc6b2fd|1             |70     |0       |0      |0       |0      |0      |0      |0      |0      |0       |0      |0      |1      |0       |0       |0          |
+------------------------------------+--------------+-------+--------+-------+--------+-------+-------+-------+-------+-------+--------+-------+-------+-------+--------+--------+-----------+
only showing top 5 rows

teachings
+-------------+------------------------------------+
|instructor_id|section_uuid                        |
+-------------+------------------------------------+
|761703       |45adf63c-48c9-3659-8561-07556d2d4ddf|
|761703       |c6280e23-5e43-3859-893e-540d94993529|
|761703       |9395dc21-15d1-3fab-8d1f-6f3fe6114c48|
|3677061      |b99e440b-39db-350a-81eb-b6eb1bd8b0bc|
|761703       |ca1c841f-41d5-3298-bd25-01c65751f150|
+-------------+------------------------------------+
only showing top 5 rows

sections
+------------------------------------+------------------------------------+------------+------+------------------------------------+------------------------------------+
|uuid                                |course_offering_uuid                |section_type|number|room_uuid                           |schedule_uuid                       |
+------------------------------------+------------------------------------+------------+------+------------------------------------+------------------------------------+
|45adf63c-48c9-3659-8561-07556d2d4ddf|344b3ebe-da7e-314c-83ed-9425269695fd|FLD         |1     |null                                |f2d66a4d-0c08-3b48-abf6-649fffd7ae90|
|c6280e23-5e43-3859-893e-540d94993529|f718e6cd-33f0-3c14-a9a6-834d9c3610a8|FLD         |1     |null                                |f2d66a4d-0c08-3b48-abf6-649fffd7ae90|
|9395dc21-15d1-3fab-8d1f-6f3fe6114c48|ea3b717c-d66b-30dc-8b37-964d9688295f|FLD         |1     |04368a56-c959-3e4b-8b3d-f4cc3538fea5|f2d66a4d-0c08-3b48-abf6-649fffd7ae90|
|b99e440b-39db-350a-81eb-b6eb1bd8b0bc|ea3b717c-d66b-30dc-8b37-964d9688295f|FLD         |1     |null                                |f2d66a4d-0c08-3b48-abf6-649fffd7ae90|
|ca1c841f-41d5-3298-bd25-01c65751f150|ea3b717c-d66b-30dc-8b37-964d9688295f|FLD         |1     |null                                |f2d66a4d-0c08-3b48-abf6-649fffd7ae90|
+------------------------------------+------------------------------------+------------+------+------------------------------------+------------------------------------+
only showing top 5 rows

subjects
+----+------------------------------------+------------+
|code|name                                |abbreviation|
+----+------------------------------------+------------+
|908 |Soil Science                        |SOIL SCI    |
|350 |ENGLISH                             |ENGLISH     |
|351 |English as a Second Language        |ESL         |
|230 |Human Development and Family Studies|HDFS        |
|352 |English                             |ENGL        |
+----+------------------------------------+------------+
only showing top 5 rows

## Recap: About this database

You will notice that there are several more tables in the uw-madision-courses folder than there are read in above. This so that you will have a chance to practice your own custom joins and learn about the relationships between a real database work. Sometimes we don't know how they are related and we need to figure it out! I'll save that for the HW :) 

Here is a look at some of the important variables we can use to join our tables:

 - course_offerings: uuid, course_uuid, term_code, name
 - instructors: id, name
 - schedules: uuid
 - sections: uuid, course_offering_uuid,room_uuid, schedule_uuid
 - teachings: instructor_id, section_uuid
 - courses: uuid
 - grade_distributions: course_offering_uuid,section_number
 - rooms: uuid, facility_code, room_code
 - subjects: code
 - subject_memberships: subject_code, course_offering_uuid
 
 **Source:** https://www.kaggle.com/Madgrades/uw-madison-courses
 
So alright, let's use this information to discover some insights from this data!

## 1a. Can you assign the room numbers to each section of each course?

Show only the rooms uuid, facility code, room number, term code and the name of the course from the course_offerings table.

In [ ]:
joined = uofw['course_offerings'].withColumnRenamed('uuid', 'course_offering_uuid').withColumnRenamed('name', 'course_name')\
    .join(uofw['sections'].withColumnRenamed('uuid', 'section_uuid'), how='inner', on='course_offering_uuid')\
    .join(uofw['rooms'].withColumnRenamed('uuid', 'room_uuid'), how='inner', on='room_uuid')

display(joined.select('course_name', 'term_code', 'facility_code', 'room_code', 'room_uuid').limit(4).toPandas())

## 1b. Now show same output as above but for only facility number 0469 (facility_code)

In [ ]:
joined.select('course_name', 'term_code', 'facility_code', 'room_code', 'room_uuid').where(col('facility_code')=='0469').show(truncate=False)

## 2. Count how many sections are offered for each subject for each facility

*Note: this will involve a groupby*

In [ ]:
joined.join(uofw['subject_memberships'], how='inner', on='course_offering_uuid')\
    .groupBy('subject_code', 'facility_code').count().orderBy(col('count').desc()).show()

## 3. What are the hardest classes?

Let's see if we can figure out which classes are the hardest by seeing how many students failed. Note that you will first need to aggregate the grades table by the course uuid to include all sections. Show the name of the course as well that you will need to get from the course_offering table.

In [7]:
hardest = uofw['grade_distributions'].select('course_offering_uuid', 'f_count', (col('a_count') + col('ab_count') + col('b_count') + col('bc_count') +
                                                                                 col('c_count') + col('d_count') + col('f_count')).alias('students'))\
    .groupBy('course_offering_uuid').agg(sum('f_count').alias('total_failed'), sum('students').alias('total_students'))\
    .join(uofw['course_offerings'].withColumnRenamed('uuid', 'course_offering_uuid').withColumnRenamed('name', 'course_name'))\
    .select('course_name', 'total_students', 'total_failed', (100*col('total_failed')/col('total_students')).alias('perc_failed'))\
    .orderBy(col('perc_failed').desc())

In [11]:
hardest.where(col('total_students') > 10).show(10, truncate=False)

+--------------------------+--------------+------------+-----------------+
|course_name               |total_students|total_failed|perc_failed      |
+--------------------------+--------------+------------+-----------------+
|Cooperative Education Prog|26            |8           |30.76923076923077|
|Cooperative Education Prog|26            |8           |30.76923076923077|
|Cooperative Education Prog|26            |8           |30.76923076923077|
|Cooperative Education Prog|26            |8           |30.76923076923077|
|Cooperative Education Prog|26            |8           |30.76923076923077|
|Cooperative Education Prog|26            |8           |30.76923076923077|
|Cooperative Education Prog|26            |8           |30.76923076923077|
|Cooperative Education Prog|26            |8           |30.76923076923077|
|Cooperative Education Prog|26            |8           |30.76923076923077|
|Cooperative Education Prog|26            |8           |30.76923076923077|
+--------------------------+--------------+------------+-----------------+
only showing top 10 rows

## Challenge Question: Automating data entry errors

We see in the dataframe below that there are several typos of various animal names. If this was a large database of several millions of records, correcting these errors would be way too labor intensive. How can we automate correcting these errors?

*Hint: Leven...*

In [ ]:
values = [('Monkey',10),('Monkay',36),('Mnky',123), \
          ('Elephant',48),('Elefant',16),('Ellafant',1), \
          ('Hippopotamus',48),('Hipopotamus',16),('Hippo',1)]
zoo = spark.createDataFrame(values,['Animal','age'])
zoo.show()

In [ ]:
# not really interested in this...

### Great job!

In [12]:
sc.stop()