In [55]:
import pandas as pd
import numpy as np
import datetime as dt

import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *#avg, count, expr
from pyspark.sql.types import *

In [22]:
sc = pyspark.SparkContext()
ss = SparkSession(sc)

In [29]:
# ingest the file
fil = './LearningSparkV2-master/chapter2/py/src/data'
data = ss.read.load(fil, format='com.databricks.spark.csv', header='True', inferSchema='true')
print(type(data))
print('%d records'%data.count())
print('%s'%data.take(5))

<class 'pyspark.sql.dataframe.DataFrame'>
100006 records
[Row(State='TX', Color='Red', Count=20), Row(State='NV', Color='Blue', Count=66), Row(State='CO', Color='Blue', Count=79), Row(State='OR', Color='Blue', Count=71), Row(State='WA', Color='Yellow', Count=93)]

In [31]:
# agg by state & color
count_mnm_df = data.select("State", "Color", "Count").groupBy("State", "Color").agg(count('Count').alias('Total')).orderBy('Total', ascending=False)
count_mnm_df.show(n=60, truncate=False)
print("Total Rows = %d" % (count_mnm_df.count()))

+-----+------+-----+
|State|Color |Total|
+-----+------+-----+
|CA   |Yellow|1807 |
|WA   |Green |1779 |
|OR   |Orange|1743 |
|TX   |Green |1737 |
|TX   |Red   |1726 |
|CA   |Green |1723 |
|CO   |Yellow|1721 |
|CA   |Brown |1718 |
|CO   |Green |1713 |
|NV   |Orange|1712 |
|TX   |Yellow|1703 |
|NV   |Green |1698 |
|AZ   |Brown |1698 |
|CO   |Blue  |1697 |
|WY   |Green |1695 |
|NM   |Red   |1690 |
|AZ   |Orange|1689 |
|NM   |Yellow|1688 |
|NM   |Brown |1687 |
|UT   |Orange|1684 |
|NM   |Green |1682 |
|UT   |Red   |1680 |
|AZ   |Green |1676 |
|NV   |Yellow|1675 |
|NV   |Blue  |1675 |
|WA   |Red   |1671 |
|WY   |Red   |1670 |
|WA   |Brown |1669 |
|NM   |Orange|1665 |
|WY   |Blue  |1664 |
|WA   |Yellow|1664 |
|WA   |Orange|1658 |
|NV   |Brown |1657 |
|CA   |Orange|1657 |
|CA   |Red   |1656 |
|CO   |Brown |1656 |
|UT   |Blue  |1655 |
|AZ   |Yellow|1654 |
|TX   |Orange|1652 |
|AZ   |Red   |1648 |
|OR   |Blue  |1647 |
|OR   |Red   |1645 |
|UT   |Yellow|1645 |
|CO   |Orange|1642 |
|TX   |Brown |1641 |
|NM   |Blue  |1638 |
|AZ   |Blue  |1636 |
|OR   |Green |1634 |
|UT   |Brown |1631 |
|WY   |Yellow|1626 |
|WA   |Blue  |1625 |
|CO   |Red   |1624 |
|OR   |Brown |1621 |
|TX   |Blue  |1614 |
|OR   |Yellow|1614 |
|NV   |Red   |1610 |
|CA   |Blue  |1603 |
|WY   |Orange|1595 |
|UT   |Green |1591 |
|WY   |Brown |1532 |
+-----+------+-----+

Total Rows = 60

In [32]:
ca_count_mnm_df = data.select("State", "Color", "Count").where(data.State == "CA").groupBy("State", "Color").agg(count('Count').alias('Total')).orderBy("Total", ascending=False)
ca_count_mnm_df.show(n=60, truncate=False)
print("Total Rows = %d" % (ca_count_mnm_df.count()))

+-----+------+-----+
|State|Color |Total|
+-----+------+-----+
|CA   |Yellow|1807 |
|CA   |Green |1723 |
|CA   |Brown |1718 |
|CA   |Orange|1657 |
|CA   |Red   |1656 |
|CA   |Blue  |1603 |
+-----+------+-----+

Total Rows = 6

In [28]:
data_df = ss.createDataFrame([("Brooke", 20), ("Denny", 31), ("Jules", 30), ("TD", 35), ("Brooke", 25)], ["name", "age"])
avg_df = data_df.groupBy("name").agg(avg("age"))
avg_df.show()

+------+--------+
|  name|avg(age)|
+------+--------+
|Brooke|    22.5|
| Jules|    30.0|
|    TD|    35.0|
| Denny|    31.0|
+------+--------+

In [41]:
# define a schema (2 ways)
schema = StructType([StructField('Id', IntegerType()), StructField('First', StringType()), StructField('Last', StringType()),
                     StructField('URL', StringType()), StructField('Published', DateType()), StructField('Hits', IntegerType()),
                     StructField('Campaigns', ArrayType(StringType()))])
# "`Id` INT, `First` STRING, `Last` STRING, `Url` STRING, `Published` STRING, `Hits` INT, `Campaigns` ARRAY<STRING>"

# create data
data = [[1, "Jules", "Damji", "https://tinyurl.1", dt.date(2016, 1, 4), 4535, ["twitter","LinkedIn"]],
        [2, "Brooke","Wenig", "https://tinyurl.2", dt.date(2018, 5, 5), 8908, ["twitter", "LinkedIn"]],
        [3, "Denny", "Lee", "https://tinyurl.3", dt.datetime(2019, 6, 7), 7659, ["web","twitter", "FB", "LinkedIn"]],
        [4, "Tathagata", "Das", "https://tinyurl.4", dt.date(2018, 5, 12), 10568,["twitter", "FB"]],
        [5, "Matei","Zaharia", "https://tinyurl.5", dt.date(2014, 5, 14), 40578, ["web","twitter", "FB", "LinkedIn"]],
        [6, "Reynold", "Xin", "https://tinyurl.6", dt.date(2015, 3, 2), 25568,["twitter", "LinkedIn"]]]

# put together as a spark dataframe
blogs_df = ss.createDataFrame(data, schema)
blogs_df.show()
blogs_df.printSchema()

+---+---------+-------+-----------------+----------+-----+--------------------+
| Id|    First|   Last|              URL| Published| Hits|           Campaigns|
+---+---------+-------+-----------------+----------+-----+--------------------+
|  1|    Jules|  Damji|https://tinyurl.1|2016-01-04| 4535| [twitter, LinkedIn]|
|  2|   Brooke|  Wenig|https://tinyurl.2|2018-05-05| 8908| [twitter, LinkedIn]|
|  3|    Denny|    Lee|https://tinyurl.3|2019-06-07| 7659|[web, twitter, FB...|
|  4|Tathagata|    Das|https://tinyurl.4|2018-05-12|10568|       [twitter, FB]|
|  5|    Matei|Zaharia|https://tinyurl.5|2014-05-14|40578|[web, twitter, FB...|
|  6|  Reynold|    Xin|https://tinyurl.6|2015-03-02|25568| [twitter, LinkedIn]|
+---+---------+-------+-----------------+----------+-----+--------------------+

root
 |-- Id: integer (nullable = true)
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- URL: string (nullable = true)
 |-- Published: date (nullable = true)
 |-- Hits: integer (nullable = true)
 |-- Campaigns: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [45]:
# use same schema reading data from json - not working?
schema = StructType([StructField('Id', IntegerType()), StructField('First', StringType()), StructField('Last', StringType()),
                     StructField('URL', StringType()), StructField('Published', StringType()), StructField('Hits', IntegerType()),
                     StructField('Campaigns', ArrayType(StringType()))])

fil = './LearningSparkV2-master/chapter3/data'
fromjson_df = ss.read.schema(schema).json(fil)
fromjson_df.show()
fromjson_df.printSchema()

+----+-----+----+----+---------+----+---------+
|  Id|First|Last| URL|Published|Hits|Campaigns|
+----+-----+----+----+---------+----+---------+
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
|null| null|null|null|     null|null|     null|
+----+-----+----+----+---------+----+---------+
only showing top 20 rows

root
 |-- Id: integer (nullable = true)
 |-- First: string (nullable = true)
 |-- Last: string (nullable = true)
 |-- URL: string (nullable = true)
 |-- Published: string (nullable = true)
 |-- Hits: integer (nullable = true)
 |-- Campaigns: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [75]:
print(blogs_df.columns)
print(blogs_df.select(col('Id')))
print(blogs_df.select('Id'))

['Id', 'First', 'Last', 'URL', 'Published', 'Hits', 'Campaigns']
DataFrame[Id: int]
DataFrame[Id: int]

In [56]:
blogs_df.select(expr("Hits*2")).show()

+----------+
|(Hits * 2)|
+----------+
|      9070|
|     17816|
|     15318|
|     21136|
|     81156|
|     51136|
+----------+

In [64]:
blogs_df.withColumn('Influencer', expr('Hits > 10000')).orderBy('Influencer', ascending=False).show()

+---+---------+-------+-----------------+----------+-----+--------------------+----------+
| Id|    First|   Last|              URL| Published| Hits|           Campaigns|Influencer|
+---+---------+-------+-----------------+----------+-----+--------------------+----------+
|  5|    Matei|Zaharia|https://tinyurl.5|2014-05-14|40578|[web, twitter, FB...|      true|
|  4|Tathagata|    Das|https://tinyurl.4|2018-05-12|10568|       [twitter, FB]|      true|
|  6|  Reynold|    Xin|https://tinyurl.6|2015-03-02|25568| [twitter, LinkedIn]|      true|
|  1|    Jules|  Damji|https://tinyurl.1|2016-01-04| 4535| [twitter, LinkedIn]|     false|
|  2|   Brooke|  Wenig|https://tinyurl.2|2018-05-05| 8908| [twitter, LinkedIn]|     false|
|  3|    Denny|    Lee|https://tinyurl.3|2019-06-07| 7659|[web, twitter, FB...|     false|
+---+---------+-------+-----------------+----------+-----+--------------------+----------+

+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
|CallNumber|UnitID|IncidentNumber|        CallType|  CallDate| WatchDate|CallFinalDisposition|       AvailableDtTm|             Address|City|Zipcode|Battalion|StationArea| Box|OriginalPriority|Priority|FinalPriority|ALSUnit|CallTypeGroup|NumAlarms|UnitType|UnitSequenceInCallDispatch|FirePreventionDistrict|SupervisorDistrict|        Neighborhood|            Location|        RowID|    Delay|
+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
|  20110016|   T13|       2003235|  Structure Fire|01/11/2002|01/10/2002|               Other|01/11/2002 01:51:...|2000 Block of CAL...|  SF|  94109|      B04|         38|3362|               3|       3|            3|  false|         null|        1|   TRUCK|                         2|                     4|                 5|     Pacific Heights|(37.7895840679362...|020110016-T13|     2.95|
|  20110022|   M17|       2003241|Medical Incident|01/11/2002|01/10/2002|               Other|01/11/2002 03:01:...|0 Block of SILVER...|  SF|  94124|      B10|         42|6495|               3|       3|            3|   true|         null|        1|   MEDIC|                         1|                    10|                10|Bayview Hunters P...|(37.7337623673897...|020110022-M17|      4.7|
|  20110023|   M41|       2003242|Medical Incident|01/11/2002|01/10/2002|               Other|01/11/2002 02:39:...|MARKET ST/MCALLIS...|  SF|  94102|      B03|         01|1455|               3|       3|            3|   true|         null|        1|   MEDIC|                         2|                     3|                 6|          Tenderloin|(37.7811772186856...|020110023-M41|2.4333334|
|  20110032|   E11|       2003250|    Vehicle Fire|01/11/2002|01/10/2002|               Other|01/11/2002 04:16:...|APPLETON AV/MISSI...|  SF|  94110|      B06|         32|5626|               3|       3|            3|  false|         null|        1|  ENGINE|                         1|                     6|                 9|      Bernal Heights|(37.7388432849018...|020110032-E11|      1.5|
|  20110043|   B04|       2003259|          Alarms|01/11/2002|01/10/2002|               Other|01/11/2002 06:01:...|1400 Block of SUT...|  SF|  94109|      B04|         03|3223|               3|       3|            3|  false|         null|        1|   CHIEF|                         2|                     4|                 2|    Western Addition|(37.7872890372638...|020110043-B04|3.4833333|
+----------+------+--------------+----------------+----------+----------+--------------------+--------------------+--------------------+----+-------+---------+-----------+----+----------------+--------+-------------+-------+-------------+---------+--------+--------------------------+----------------------+------------------+--------------------+--------------------+-------------+---------+
only showing top 5 rows

In [ ]:
sc.stop()